#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
   
}
#login-form input{
    border: none;
    font-size: 16px;
    padding: 15px 0px;
    margin-bottom: 20px;
}

#login-form input[type="text"]{
    margin-bottom:5px;  
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder{
    opacity: 0.5;
}
#login-form input:focus{
    border-color:  var(--yellow);
}
#login-form input[type="submit"]{
    cursor: pointer;
    padding: 15px 0px;
    border-radius: 5px;
}
#login-form input[type="submit"]:hover{
background-color: var(--yellow);}
#login-form input[value="Log In"]{
    margin-top:10px;
}
#login-form a {
    text-align: center;
    text-decoration: none;
    color:inherit;
    font-size: 10.5px;
}