.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 40px;
    opacity: 90%;
    margin-bottom: 15px;
    }
.screen-header__title {
        font-size: 32px;
        font-weight: 600;
    }
    .screen-header__icons{
        display: flex;
    }
    .screen-header__icons span{
    margin-left:25px;
}
      
.screen-header_new{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom:10px;
    left: 5px;
   }
   @keyframes rotateCog {
    from {
      transform: none;
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
  .screen-header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
  }
   